@font-face {
    font-family: 'antonregular';
    src: url('../Fuentes/anton-regular-webfont.eot');
    src: url('../Fuentes/anton-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../Fuentes/anton-regular-webfont.woff2') format('woff2'),
        url('../Fuentes/anton-regular-webfont.woff') format('woff'),
        url('../Fuentes/Anton-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ff8080;
}

header{
    display: flex;
    flex-direction: column;
    font-family: antonregular;
    color: white;
    background-color: black;
    border-radius: 22px;
    height: 180px;
}

header img{
    position: relative;
    top: 30px;
    left: 50px;
}

header h1{
    position: relative;
    text-align: right;
    margin-right: 5%;
    bottom: 30px;
    font-size: 40px;
}

nav{
    background-color: #ff000042;
    padding: 5px;
    width: 95%;
    margin-left: 2%;
    border-radius: 0px 0px 20px 20px;
}

nav li {
    display: inline-block;
    padding: 5px;
    background-color: #c0b4a2;
    border-radius: 10px;
    transition: padding 0.1s;
    box-shadow: 2px 2px 2px #a19787;
    margin-right: 2%;
}
nav li:hover {
    background-color: #8F806A;
    padding: 10px;
}
nav li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

article{
    display: flex;
}

form {
    background-color: #c0b4a2;
    padding: 10px;
    border: 1px solid black;
    width: 572px;
}

fieldset{
    border: 1px solid black;
}

input {
    transition: padding 0.2s;
}

input[type=submit]{
    transition: padding 0.1s;
    background-color: gray;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    padding: 1%;
    margin-left: 10px;
}

input[type=submit]:hover{
    padding: 2%;
    
}

input[type=submit]:active{
    padding: 2%;
    background-color: rgb(218, 218, 218);
}

input[type=text]:focus, input[type=email]:focus {
    border-radius: 4px;
    background-color: rgb(218, 218, 218);
    padding: 5%;
}

table{
    width: 100%;
}

table tr td p{
    font-weight: bold;
}

textarea{
    width: 360px;
    height: 111px;
}

iframe{
    margin-left: 10px;
    width: 500px;
}

footer hr{
    margin-top: 30px;
    background-color: black;
    border: 1px solid black;
}

footer p{
    text-align: center;
}

@media (max-width: 800px) {
    header{
        flex-direction: row;
        height: 280px;
    }

    header h1{
        text-align: left;
        margin-right: 0%;
        top:150px;
    }

}

@media (max-width: 485px) {
    body{
        margin-left: 0%;
        margin-right: 0%;
    }
    header{
        flex-direction: row;
        height: 300px;
    }

    header h1{
        text-align: left;
        margin-right: 0%;
        top:150px;
    }

}

@media (max-width: 1240px){
    article{
        flex-direction: column;
    }

    form{
        width: auto;

    }

    iframe{
        width: auto;
        margin-top: 10px;
    }
}

@media (max-width: 400px){
    textarea{
        width: auto;
        height: 111px;
    }
}